name: Deploy Angular to VPS (Apache)

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "20"

      - run: npm ci
      - run: npm run build -- --configuration production

      - name: Inspect dist
        run: |
          ls -la dist
          ls -la dist/* || true
          ls -la dist/*/browser || true

      # AJUSTA EL path cuando veas la estructura en logs2
      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzr --delete
          path: dist/posts-get/browser/
          remote_path: ${{ secrets.VPS_PATH }}
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: ${{ secrets.VPS_USER }}
          remote_key: ${{ secrets.VPS_SSH_KEY }}
          remote_port: 9222
